{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 1% in de",
          "node": 8
        }
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "inline-import-data-uri",
      {
        "extensions": [
          ".png",
          ".svg",
          ".jpg",
          ".gif"
        ]
      }
    ]
  ]
}
